assets/constellation_class/Constellation alert dial.xcf
assets/galaxy_class/Galaxy alert dial.xcf
assets/power_dials.xcf
assets/constellation_class/Constellation crew dial.xcf
assets/constellation_class/Constellation hull dial.xcf
